_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem

# As this is a ruby-gem project, we exclude the lock file; explained here:
# https://stackoverflow.com/questions/4151495/should-gemfile-lock-be-included-in-gitignore
Gemfile.lock
